* {
    margin: 0px;
    padding: 10px; /* 15px  by default */
    box-sizing: border-box;
    border: 2px solid purple;
}

body {
    background: url("kido-buddhist-mountain-temple-complex-sasaguri-kyushu-japan-8b0c.jpg");
    background-color: #596D48;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-blend-mode:multiply; */
}